**/__pycache__/*
**/Checkpoints/*
**/Datasets/*
**/LaTeX Source Files/*
**/Logs/*
*.key
*.md
*.pdf

!main.pdf

.DS_Store
.ipynb_checkpoints

venv-python3-10/*

Modern Computer Vision PyTorch, TensorFlow 2 Keras & OpenCV 4/Notebooks/1 - OpenCV - Image Operations.ipynb

Deep Learning with PyTorch for Medical Image Analysis/Notebooks/2 - CNN - Convolutional Neural Networks.ipynb
Deep Learning with PyTorch for Medical Image Analysis/Notebooks/3 - Data Formats in Medical Imaging.ipynb
Deep Learning with PyTorch for Medical Image Analysis/Notebooks/4 - Pneumonia-Classification.ipynb